@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f1f5f9;
  font-family: 'Pretendard', 'Noto Sans KR', system-ui, sans-serif;
}
